
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container{
    position: relative;
}


header{ 
    background-color: whitesmoke;
    height: 70px;   
    display: flex;
    flex-direction: row;
    
}

main {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#grid{
    display: flex;
    width:  500px;
    height: 500px;
    flex-wrap: wrap;
    margin: 10px;
}

.cell{
    background-color: rgb(245, 254, 251);
    border: 1px solid rgb(16, 16, 76);
    text-align: center;
    font-size: 17px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.clicked_cell{
    background-color: rgb(0, 115, 255);
}

.cell_explode, .cell_explode_all{
    background-color: red;
}


h4{
    display: inline-block;
    margin-right: 15px;
}

#score_info{
    color: red;
    font-size: 25px;
    text-align: center;
}